
<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">A propos</h4>
                <div class="ui inverted link list">
                    <a href="mailto:contact@cana-rp.fr" class="item">Nous contacter</a>
                    <a href="#" class="item">Boutique</a>
                    <a href="#" class="item">Règles</a>
                    <a href="#" class="item">FAQ</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Communautaire</h4>
                <div class="ui inverted link list">
                    <a href="http://forum.cana-rp.fr" class="item">Forum</a>
                    <a href="#" class="item">Donation</a>
                    <a target='_blank' href="https://discord.gg/QYCVPpR" class="item">Discord</a>
                    <a href="http://twitter.com/cana_rp" class="item">Twitter</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Cana, le roleplay par définition.</h4>
                <p>
                    Découvrez Los Santos, une ville où tous les rêves sont possibles. <br>
                    Venez participer à une société dans laquelle votre histoire et vos actions peuvent changer cette ville.
                </p>
                <br>
                <span class="author">Copyright CANA - Réalisation: <a target="_blank" href="https://xavierchop.in"> Xavierchop.in</a></span>
            </div>
        </div>
    </div>
</div>