<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ path('user-profile') }}" class="header item">
            <img class="logo" src="{{ asset('img/authentication_logo.png') }}">
            myPanel <sup>&nbsp; v0.1</sup>
        </a>
        <a href="{{ path('home') }}" class="item">Accueil</a>
        <a href="#" class="item">Boutique</a>
        <a href="http://forum.cana-rp.fr" class="item">Forum</a>
    </div>
</div>